/* Container Styles */
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;
}

/* Top Bar Styles */
.game-top-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.game-top-left-section {
  display: flex;
  gap: 60px;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-around;
}

.game-leftmost-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.game-leftmost-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Divider Styles */
.game-divider {
  width: 100%;
  margin-bottom: 20px;
}

/* Content Section Styles */
.game-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.game-visibility {
  visibility: visible;
}

.game-hidden {
  visibility: hidden;
}

@media only screen and (max-width: 1023px) and (orientation: portrait) {
  .game-top-bar {
    margin-bottom: 0;
  }
}
