.modal-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
}

.input-field {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #888;
  width: 100%;
  box-sizing: border-box;
  font-size: large;
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
